<div class="text-center">
  <h4>current turn: {{ currTurn }}</h4>
  <div class="board d-table mx-auto">
    <div
      *ngFor="
        let r of board.slice().reverse();
        let r_index = index;
        let r_odd = odd;
        let r_even = even
      "
      class="board-rank"
    >
      <div
        *ngFor="
          let s of r;
          let s_index = index;
          let s_odd = odd;
          let s_even = even
        "
        class="board-square"
        [ngClass]="{
          white: (s_even && r_even) || (s_odd && r_odd),
          black: (s_odd && r_even) || (s_even && r_odd)
        }"
        (click)="handleSquareClick(s)"
        id="square-{{ '' + s.file + s.rank }}"
      >
        <!-- activate square if a piece is trying to move -->
        <div
          *ngIf="moving && currMovesInStr.indexOf('' + s.file + s.rank) != -1"
          class="move"
        ></div>
        <i
          *ngIf="s?.piece"
          class="fas fa-chess-{{ s.piece?.name }}"
          [ngClass]="{
            white: s.piece?.color == 'white',
            black: s.piece?.color == 'black'
          }"
        ></i>
      </div>
    </div>
  </div>
</div>
