<div class="text-center">
  <h4>current turn: {{ gb.currTurn }}</h4>
  <h5>{{ gb.checked.white || gb.checked.black ? 'checked' : '' }}</h5>
  <div class="board d-table mx-auto">
    <div
      *ngFor="
        let r of gb.board.slice().reverse();
        let r_index = index;
        let r_odd = odd;
        let r_even = even
      "
      class="board-rank"
    >
      <div
        *ngFor="
          let s of r;
          let s_index = index;
          let s_odd = odd;
          let s_even = even
        "
        class="board-square"
        [ngClass]="{
          white: (s_even && r_even) || (s_odd && r_odd),
          black: (s_odd && r_even) || (s_even && r_odd)
        }"
        (click)="handleSquareClick(s)"
        id="square-{{ '' + s.file + s.rank }}"
      >
        <!-- activate square if a piece is trying to move -->
        <div
          *ngIf="gb.moving && gb.currMovesMap.has('' + s.file + s.rank)"
          class="move"
        ></div>
        <div
          class="current"
          *ngIf="
            gb.moving &&
            gb.currSquare.file === s.file &&
            gb.currSquare.rank === s.rank
          "
        ></div>
        <!-- FIXME: this overlay pushes up chess icons somehow -->
        <div
          class="offensive"
          *ngIf="
            isAdmin &&
            ((gb.currTurn == 'white' &&
              gb.attackMovesMaps.black.has('' + s.file + s.rank)) ||
              (gb.currTurn == 'black' &&
                gb.attackMovesMaps.white.has('' + s.file + s.rank)))
          "
        ></div>
        <i
          *ngIf="s?.piece"
          class="fas fa-chess-{{ s.piece?.name }}"
          [ngClass]="{
            white: s.piece?.color === 'white',
            black: s.piece?.color === 'black',
            'white-turn': s.piece?.color === 'white' && gb.currTurn === 'white',
            'black-turn': s.piece?.color === 'black' && gb.currTurn === 'black'
          }"
        ></i>
      </div>
    </div>
  </div>
  <h4>captured pieces:</h4>
  <p>
    <i
      *ngFor="let piece of gb.capturedPieces"
      class="fas fa-chess-{{ piece?.name }}"
      [ngClass]="{
        white: piece?.color == 'white',
        black: piece?.color == 'black'
      }"
    ></i>
  </p>

  <div *ngFor="let board of gb?.boards" class="board d-table mx-auto">
    <div
      *ngFor="
        let r of board?.slice().reverse();
        let r_index = index;
        let r_odd = odd;
        let r_even = even
      "
      class="board-rank"
    >
      <div
        *ngFor="
          let s of r;
          let s_index = index;
          let s_odd = odd;
          let s_even = even
        "
        class="board-square"
        [ngClass]="{
          white: (s_even && r_even) || (s_odd && r_odd),
          black: (s_odd && r_even) || (s_even && r_odd)
        }"
      >
        <!-- activate square if a piece is trying to move -->

        <i
          *ngIf="s?.piece"
          class="fas fa-chess-{{ s.piece?.name }}"
          [ngClass]="{
            white: s.piece?.color === 'white',
            black: s.piece?.color === 'black',
            'white-turn': s.piece?.color === 'white' && gb.currTurn === 'white',
            'black-turn': s.piece?.color === 'black' && gb.currTurn === 'black'
          }"
        ></i>
      </div>
    </div>
    <br />
  </div>
</div>
